extends layout

block content

    script#img-wrapper-tmpl(type='text/x-jquery-tmpl')
        .rg-image-wrapper
            .rg-image-nav
                a(href='#').rg-image-nav-prev Previous Image
                a(href='#').rg-image-nav-next Next Image
            .rg-image
            .rg-loading
            .rg-caption-wrapper
                .rg-caption(style='display:none')
                    p

    header
        .container
            .row
                .col-lg-12
                    <!--img.img-responsive(src="img/profile.png", alt="")-->
                    .intro-text
                        span.name Вы хотите сделать ремонт? Тогда Вам к Нам!
                        hr.star-light
                        span.skills Гарантия качества, приемлемые цены, короткие сроки!
                        br
                        br
                        br
                        a(href="/price").btn.btn-success.btn-lg Online смета
                        
    section#about.success
        .container
            .row
                .col-lg-12.text-center
                    h2 О нас
                    hr.star-light
            .row
                .col-lg-4.col-lg-offset-2
                    p 
                        |Ремонт, как известно, затея довольно хлопотная. 
                        |Не всегда, есть силы, желания и, что самое главное, умения, чтобы сделать его самостоятельно. 
                        |В этом случае наша команда готова прийти вам на помощь.
                        |Мы производим широкий спектр работ, в каждом случае стремясь достичь идеального результата, который превзойдет  все ваши ожидания. 
                        
                .col-lg-4
                    p 
                        |Мы не передаем заказы другим бригадам. 
                        |Каждый наш клиент имеет дело с нами лично. 
                        |Мы повышаем свой профессиональный уровень постоянно. 
                        |Наша команда дорожит  своей репутацией. 
                        |Нам выгоднее выполнить свою работу качественно и получить еще одного довольного клиента, чем схалтурить и получить негативные отзывы.


                        
    section#portfolio
        .container
            .row
                .col-lg-12.text-center
                    h2 Наши реальные работы
                    hr.star-primary
                 
            each files1 in files
                .row
                    h3 #{files1.title}
                    p(style='font-size:14px') #{files1.description}
                    .rg-gallery
                        .rg-thumbs
                            .es-carousel-wrapper
                                .es-nav
                                    span.es-nav-prev Предыдущий
                                    span.es-nav-next Следующий
                                .es-carousel
                                    ul                               
                                        each file in files1
                                            li
                                                img(src='img/portfolio/thumbnails/#{file.name}', data-large="img/portfolio/#{file.fullPath}", alt='...', style='width:65px')

    section#contact
        .container
            .row
                .col-lg-12.text-center
                    h2 Оставить заявку
                    hr.star-primary
            .row
                .col-lg-8.col-lg-offset-2
                    form#contactForm(name="sentMessage", novalidate)
                        .row.control-group
                            .form-group.col-xs-12.floating-label-form-group.controls
                                label Как к вам обращаться
                                input.form-control#name(type="text", placeholder="Имя", required, data-validation-required-message="Введите Ваше имя.")
                                p.help-block.text-danger
                        .row.control-group
                            .form-group.col-xs-12.floating-label-form-group.controls
                                label Телефон для связи
                                input.form-control#phone(type="tel", placeholder="Телефон для связи", required, data-validation-required-message="Введите номер для связи с Вами.")
                                p.help-block.text-danger
                        .row.control-group
                            .form-group.col-xs-12.floating-label-form-group.controls
                                label Email
                                input.form-control#email(type="email", placeholder="Email для связи", data-validation-required-message="Введите Email для связи с Вами.")
                                p.help-block.text-danger
                        .row.control-group
                            .form-group.col-xs-12.floating-label-form-group.controls
                                label Адрес помещения
                                input.form-control#address(type="text", placeholder="Адрес помещения")
                                p.help-block.text-danger
                        .row.control-group
                            .form-group.col-xs-12.floating-label-form-group.controls
                                label Опишите виды требуемых работ
                                textarea.form-control#message(rows="5", placeholder="Опишите виды требуемых работ")
                                p.help-block.text-danger
                        br
                        #success
                        .row
                            .form-group.col-xs-12
                                button(type="submit").btn.btn-success.btn-lg Отправить


block modals
    .portfolio-modal.modal.fade#portfolioModal1(tabindex="-1", role="dialog", aria-hidden="true")
        .modal-content
            .close-modal(data-dismiss="modal")
                .lr
                    .rl
            .container
                .row
                    .col-lg-8.col-lg-offset-2
                        .modal-body
                            h2 Project Title
                            hr.star-primary
                            img(src="img/portfolio/cabin.png", alt="").img-responsive.img-centered
                            p 
                                |Use this area of the page to describe your project. The icon above is part of a free icon set by 
                                a(href="https://sellfy.com/p/8Q9P/jV3VZ/") Flat Icons
                                |On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                            ul.list-inline.item-details
                                li Client:
                                    strong
                                        a(href="http://startbootstrap.com") Start Bootstrap
                                li Date:
                                    strong
                                        a(href="http://startbootstrap.com") April 2014
                                li Service:
                                    strong
                                        a(href="http://startbootstrap.com") Web Development
                            button.btn.btn-default(type="button", data-dismiss="modal")
                                i.fa.fa-times
                                |Close

block scripts
    script(src='/js/jquery.tmpl.min.js')
    script(src='/js/jquery.easing.1.3.js')
    script(src='/js/jquery.elastislide.js')
    script(src='/js/gallery.js')
    script(src='/js/contact_me.js')